@import '~bootstrap/scss/bootstrap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
}

main {
    background-color: #1c1c1c;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

header {

    ul {
        list-style: none;

        display: flex;
        justify-content: center;
        align-items: center;

        & li {

            &:hover {
                border-bottom: 3px solid #0282f9;
            }


            & a {
                color: #303030;
                padding: 90px 15px;
                text-decoration: none;
                display: inline-block;

                &:hover {
                    color: #0282f9;
                }
            }
        }


    }

}

.ms_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px
}

.jumbotron {
    height: 400px;
    background-image: url(../img/jumbotron.jpg);
}

.current-series {
    height: 50px;
    width: 180px;
    background-color: #0282f9;
    bottom: -25px;

    & h5 {
        color: white;
        padding: 10px 15px;
    }
}

.main-content {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-banner {
    height: 200px;
    background-color: #0282f9;

    & a {
        color: #ffffff;
    }

    & img {
        height: 60px;
    }

}

.ms_card {
    height: 200px;
    width: 200px;
    overflow-y: hidden;

    & img {
        transform: translate(0px, -10px);
        width: 100%;
    }
}

.card-container {
    height: 300px;
    width: calc(100% / 6 - 3rem);
}

.load-more {
    width: 132px;
    margin: 20px auto;

    & button {
        background-color: #0282f9;
        border-color: #0282f9;
        color: white;
        font-size: 12px;
        padding: 10px 24px;
    }
}

.dc-logo {
    height: 600px;
    transform: translate(0px, -100px);
}

.footer-top {
    background-image: url(../img/footer-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    overflow-y: hidden;

    & h5 {
        color: white;

    }

    & a {
        color: #797979;
        font-size: 14px;
    }

    & .col-1 {
        width: 150px;
    }
}

.footer-bottom {
    height: 100px;
    background-color: #303030;
}

.ms_space_between {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.followus-container {
    display: flex;
    justify-content: center;
    align-items: center;

    & * {
        padding: 0px 10px;

    }

    & ul {
        display: flex;
        align-items: center;
    }
}

h5 {
    color: #0282f9;
}

.icon-container {
    height: 50px;
    width: 50px;
    display: inline-block;
    background-color: #797979;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    & i {
        font-size: 18px;
        color: #303030;
    }

}

button {
    border: 2px solid #0282f9;
    padding: 10px;
    background-color: #303030;
    color: #fff;
}

.ms_blue_banner {
    height: 75px;
    background-color: #0282f9;
}